.nav {
  grid-area: n;
  background-color: burlywood;
}
.item {
  padding: 10px 0px 10px 0px;
  text-align: center;
}
.item a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.item:hover {
  width: 100%; 
  color: aqua;
  background-color: black;

}
