 .nav {
  grid-area: n;
  background-color: burlywood;
}
.item {
  text-align: center;
  width: 100%;
}
.item a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  
}
.item a.activeLink {
  display: block;
  height: 100%;
  background-color: gray;
}
.item:hover {
  width: 100%; 
  color: aqua;
  background-color: black;

} 
